<!DOCTYPE HTML>
<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />        
    <title>Timeline basic demo</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
       body, html {
          font-family: sans-serif;
         }
         .container {
          height: 800px,
          width: 900px,
          border: solid 1px #000
         }
       </style>
    </head>
 <body>   
    <div id="mynetwork" class="container"></div>
    <script type="text/javascript">
         var container = document.getElementById("mynetwork");
    </script>
    <script type="text/javascript">
       <%=myString%>
    </script>
   
 </body>
</html>


 
